<div class="navbar-default sidebar" role="navigation" style="margin-top: 0px;">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/controlpanel/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> Account</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> Groups</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit fa-fw"></i> Wallet</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit fa-fw"></i> API</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Services<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Mumble</a>
                    </li>
                    <li>
                        <a href="#">Jabber</a>
                    </li>
                    <li>
                        <a href="#">Killboard</a>
                    </li>
                    <li>
                        <a href="#">Hosting</a>
                    </li>
                    <li>
                        <a href="#">Notifications</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>